﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
        <link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />*@
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>

    <script src="~/Scripts/LoadElements.js"></script>
</head>
<body style="background-image: url(../../Content/imag/1.jpg); background-repeat: no-repeat;background-attachment: fixed;">


    <div class="container body-content">
        @RenderBody()

    </div>


</body>
</html>