﻿
@{
    ViewBag.Title = "Home";
}
<script>
    $(document).ready(function () {
        document.getElementById('InsertBook').style.display = 'none';
        document.getElementById('NewsPopup').style.display = 'none';
        document.getElementById('ToReadModel').style.display = 'none';
    });

</script>

<div class="container">
    <div class="center">
        <div class="btn-group btn-group btn-group-justified">
            <a href="#InsertBook" class="btn btn-warning" onclick="document.getElementById('InsertBook').style.display = 'block'; document.getElementById('NewsPopup').style.display = 'none';document.getElementById('ToReadModel').style.display='none'"><span class="glyphicon glyphicon-book"> InsertBook</span></a>
            <a href="#ToReadModel" class="btn btn-warning" onclick="document.getElementById('ToReadModel').style.display = 'block'; document.getElementById('InsertBook').style.display = 'none';document.getElementById('NewsPopup').style.display='none'"><span class="glyphicon glyphicon-plus-sign"> ToRead</span></a>
            <a href="#NewsPopup" class="btn btn-warning" onclick="document.getElementById('NewsPopup').style.display = 'block'; document.getElementById('InsertBook').style.display = 'none';document.getElementById('ToReadModel').style.display='none'"><span class="glyphicon glyphicon-time">  News</span></a>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/_BookInsertPartial.cshtml")
@Html.Partial("~/Views/Home/_BookToReadPartial.cshtml")

<div class="collapse" id="NewsPopup" style="margin-top:1%">
    <div class="container">
        <div class="col-md-12 alert">
            <button type="button" class="close" onclick="document.getElementById('NewsPopup').style.display='none';" style="color:yellow;">&times; Close</button>
            <br />
            <iframe src="http://www.101books.ru/" height="800" width="1050"></iframe>
        </div>
    </div>
</div>
