﻿
@{
    ViewBag.Title = "Account";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Login').show();
            $('#Register').hide();
        })

        function Register() {
            if ($('#UsernameRegister').val() == '' || $('#EmailRegister').val() == '' || $('#PasswordRegister').val() == '' || $('#PasswordConfirmRegister').val() == '') {
                alert("All the fields are required!");
                return 0;
            }

            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test($('#EmailRegister').val())) {
                alert("Invalid email address.");
                return 0;
            }

            if ($('#PasswordRegister').val().length < 5) {
                alert("The passwords need to have at least 5 characters!");
                return 0;
            }

            if ($('#PasswordRegister').val() != $('#PasswordConfirmRegister').val()) {
                alert("The passwords are different!");
                return 0;
            }

            $.ajax({
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "Username": $('#UsernameRegister').val(),
                    "Email": $('#EmailRegister').val(),
                    "Password": $('#PasswordRegister').val()
                }),
                url: "RegisterFunction",
                success: function (result) {
                    var serverResponse = result.split(",");
                    var responseCode = serverResponse[0];
                    var responseMessage = serverResponse[1];

                    if (responseCode == "200") {
                        window.location.href = "/Home/Index";
                    } else {
                        alert(responseMessage);
                    }
                }
            })

        }

        function Login(email, password) {
            if (email == '' || password == '' ) {
                alert("All the fields are required!");
                return 0;
            }

            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                alert("Invalid email address.");
                return 0;
            }

            $.ajax({
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "Email": email,
                    "Password": password
                }),
                url: "LoginFunction",
                success: function (result) {
                    var serverResponse = result.split(",");
                    var responseCode = serverResponse[0];
                    var responseMessage = serverResponse[1];

                    if (responseCode == "200") {
                        window.location.href = "/Home/Index";
                    } else  {
                        alert(responseMessage);
                    }
                }
            })
        }
    </script>
</head>

<body style="background-image: url(../../Content/imag/1.jpg); background-repeat: no-repeat;background-attachment: fixed;">

    <div class="container col-lg-offset-4" id="Login">
        <div class="col-md-5 alert alert-info">
            <br />
            <h2 class="text-center">Login</h2>

            <form method="post">
                <div class="input-group" style="margin-left:18%">
                    <label for="Email" class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></label>
                    <input class="form-control" type="text" id="Email" placeholder="Type the email..." />
                </div>
                <br />
                <div class="input-group" style="margin-left:18%">
                    <label for="Password" class="input-group-addon"><span class=" glyphicon glyphicon-asterisk"></span></label>
                    <input class="form-control" type="password" id="Password" placeholder="Type the password..." />
                </div>
                <br />
            </form>
            <div class="btn-group" style="margin-left:26%">
                <input type="submit" onclick="Login($('#Email').val(), $('#Password').val())" id="LoginBtn" value="Login" class="btn btn-info" style="width:220px" />
            </div>
            <br />
            <br />
            <input type="submit" value="I have no account" onclick=" $('#Login').hide(); $('#Register').show();" class="btn btn-link" style="width:800px;margin-left:-10%" />
            <br />
        </div>
    </div>

    <div class="container col-lg-offset-4" id="Register">
        <div class="col-md-5 alert alert-info">
            <br />
            <h2 class="text-center">Register</h2>

            <form method="post">
                <div class="input-group" style="margin-left:18%">
                    <label for="UsernameRegister" class="input-group-addon"><span class=" glyphicon glyphicon-user"></span></label>
                    <input class="form-control" type="text" id="UsernameRegister" placeholder="Type the username..." />
                </div>
                <br />
                <div class="input-group" style="margin-left:18%">
                    <label for="EmailRegister" class="input-group-addon"><span class=" glyphicon glyphicon-envelope"></span></label>
                    <input class="form-control" type="text" id="EmailRegister" placeholder="Type the email..." />
                </div>
                <br />
                <div class="input-group" style="margin-left:18%">
                    <label for="PasswordRegister" class="input-group-addon"><span class=" glyphicon glyphicon-asterisk"></span></label>
                    <input class="form-control" type="password" id="PasswordRegister" placeholder="Type the password..." />
                </div>
                <br />
                <div class="input-group" style="margin-left:18%">
                    <label for="PasswordConfirmRegister" class="input-group-addon"><span class=" glyphicon glyphicon-asterisk"></span></label>
                    <input class="form-control" type="password" id="PasswordConfirmRegister" placeholder="Type the password again..." />
                </div>
                <br />
            </form>
            <div class="btn-group" style="margin-left:23%">
                <input type="submit" value="Register" onclick="Register()" class="btn btn-info" style="width:800px" />
            </div>
            <br /><br />
            <input type="submit" value="I have an account" onclick=" $('#Login').show(); $('#Register').hide();" class="btn btn-link" style="width:800px;margin-left:-10%" />
            <br />
        </div>
    </div>

</body>
</html>

